body{
  background-color: black;
  color:white;
}
nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav div{
  display: flex;
  gap:30px;
  
}
nav button{
  padding:10px 20px;
  border-radius: 40px;
}
nav h1{
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 28px;
}
nav h1 img{
  border-radius: 10px;
}
nav a{
  text-decoration: none;
  color:white;
  font-weight: 480;
  font-size:22px;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;;
}
#start{
  background-color: white;
  color:black;
  font-weight: 900px;
  font-size: 20px;
  cursor: pointer;
  padding-top: 4px;
padding-bottom: 4px;
font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
#start:hover{
  background-color: lightgray;
}
nav button{
  background-color:transparent;
  color:white;
  font-weight: 900px; 
  font-size: 18px;

}
nav button:hover{
  cursor: pointer;
}
.hero {
  min-height: 100vh;
  background-image: url("/image/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

